/* @font-face {
  font-family: Coming-Soon;
  src: url(https://fonts.google.com/specimen/Coming+Soon?categoryFilters=Feeling:%2FExpressive%2FChildlike);
} */

body 
{
    margin: 0;
    font-family: "Coming Soon", sans-serif;

    justify-content: center;
}
img
{
    max-width: 100%;
}
hr
{
    border: none;
    border-top: 2px solid lightgray;
    margin: 20px 0;
}
a
{
    font-family: sans-serif;
    text-decoration: none;
    font-size: small;

    color: #52b1e7;
}

form
{
    margin-top: 30px;
    display: flex;
    justify-content: center;

    margin-inline: 20px;
}
form input
{
    height: 30px;
    width: 100%;

    border: solid 2px black;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding-left: 10px;
}
form button
{
    width: 40px;
    
    border: solid 2px black;
    border-left: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;

    background-color: white;

    font-size: large;
}

header
{
    display: flex;
    justify-content: center;
    margin: 20px;

    max-width: 100%;

    font-size: large;
}
header *
{
    margin-top: auto;
    margin-bottom: 0;
}
header img
{
    height: 90px;
}
header h1
{
    margin-bottom: -15px;
}

.recipe-container
{
    display: flex;
    flex-direction: column;

    border: solid 2px black;
    padding: 15px;
    margin: 20px;

    border-radius: 5px;
}
.recipe-container .tags
{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    font-family: sans-serif;
}
.recipe-container .tags p
{
    display: flex;
    justify-content: center;

    border: solid 2px black;
    padding: 5px;
    padding-inline: 10px;
    margin-top: 10px;
    
    border-radius: 5px;
}
.recipe-container h1
{
    margin-top: 5px;
    margin-bottom: 0px;

    color: #52b1e7;
}
.recipe-container p
{
    font-family: sans-serif;
}
#description
{
    display: none;
}

footer
{
    margin: 20px;
    text-align: center;
}
.social
{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.social img
{
    height: 40px;
    cursor: pointer;
}

@media screen  and (min-width: 600px)
{
    header, main, footer
    {
        max-width: 1000px;
        margin-inline: auto;
    }

    .recipe-container
    {
        flex-direction: row;
        gap: 20px;
    }
    .recipe-container .tags
    {
        align-items: center;
        flex-direction: row;
        min-width: 150px;
    }
    .recipe-container .recipe-info
    {
        display: flex;
        flex-direction: column;
    }
    .recipe-container img 
    {
        max-width: 500px;
        width: 50%;
    }

    #description
    {
        display: block;
    }
}