* {
    font-family: calibri, sans-serif;
    font-size: 30px;
    color: white;
}

body {
    margin: 0;
    background-color: #e0e0e0;
}

header {
    background-color: #5549a2;
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
}

main h1 {
    color: black;
}

footer {
    background-color: #5549a2;
    text-align: center;
    padding: 20px;
    
}

nav a {
    color: white;
    padding-inline: 3%;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

img {
	max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;

    border: white 5px solid;
    box-shadow: 5px 5px 10px black;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

button {
    display: inline;
}

.hide {
    display: none;
}

dialog {
    position: fixed;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

dialog img {
    margin: 20vh auto;
    width: 90%;
    height: auto;
    max-height: 100%;
    border: 0;
}

.close-viewer {
    position: absolute;
    top: 20vh;

    background-color: white;
    color: black;
    border: white 2px solid;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    button {
        display: inline;
    }

    nav a {
        display: inline;
    }

    .hide {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    button {
        display: none;
    }

    nav a {
        display: inline;
    }
    
    .hide {
        display: inline;
    }
}