body {
    font-family: monospace;
    background-color: #f9f9f9;

}

main {
    height: 100%;
    align-content: center;
}

#credit-card-form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;

    height: 330px;
    width: 500px;
    margin: 0 auto;
}

#front-card {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    z-index: 1;

    align-items: center;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #f0f0f0;

    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}
#total-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    padding-inline: 20px;

    font-size: 16px;
}
#front-card img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    justify-self: end;
    padding-inline: 20px;
}

#card-number-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
#expiration-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#back-card {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* couldn't get 2fr 1fr to work for some reason */
    grid-template-rows: 1fr 1fr 1fr;

    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: #f0f0f0;
}
#magnetic-strip {
    grid-column: 1 / 4;

    border: none;
    height: 40px;
    background-color: #000;
    margin: 20px 0;
}
#cvv-container {
    grid-column: 3/4;
    grid-row: 3 / 4;
}

#submit-button {
    grid-column: 3 / 4;
    grid-row: 4 / 5;

    margin-top: 10px;
    border: solid 2px #000;
    border-radius: 5px;
}

.container {
    display: inline-block;
    padding-inline: 20px;

    align-content: center;
}
.container label {
    align-self: end;

    font-size: 16px;
}
.container div {
    display: flex;
    gap: 5px;
}
.container input {
    width: 100%;
    box-sizing: border-box;

    padding: 8px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
}