body
{
    text-align: center;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    
    max-width: 600px;
}

main
{
    width: 80%;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

h1
{
    letter-spacing: 4px;
    line-height: 0.5;
}

h4
{
    color: #006EB6;
    letter-spacing: 2px;
}

ol li
{
    padding-top: 20px;
}

#logo
{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}